.label {
    margin-right:10px;
}

#img1 {
    max-width:100%;
    height:auto;
<<<<<<< HEAD
}

#list1 {
    margin-right:10px;
    margin-left:10px;
=======
>>>>>>> 03bf968e605ed74e1bd19affccc9357cc5f2f175
}